<style>

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
 
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #14bcf0;}

#customers tr:hover {background-color: rgb(79, 239, 250);}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #10a5fc;
  color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

.login_form{
  
background:rgb(244, 250, 250);
padding:30px;
box-shadow: 0px 1px 36px 5px;
border-radius:2px;
}

.modal_form
{
  background:transparent;
  border:none;
  margin-left: 15%;
  margin-right: 15%;
}

.reg_form
{
  margin-top: 25%;
  padding:30px;
  background: rgb(244, 250, 250);;
  box-shadow: rgba(0, 0, 0, 0.28);
  border-radius: 5px;
}

.form_btn{
  background:#fb641b;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  border:none;
  color:#fff;
  width:100%;
}
.label_text{
  font-size:15px;
}

div.desc {
  padding: 5px;
  text-align: center;
}




</style>